@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    src:	local("Nunito Sans"),
			url("../font/NunitoSans-VariableFont.ttf") format("truetype");
  }

@font-face {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    src:	local("Yeseva One"),
			url("../font/YesevaOne-Regular.ttf") format("truetype");
  }



